PROJECT_ENDPOINT="https://....ai.azure.com/..."
AZURE_OPENAI_ENDPOINT="https://....openai.azure.com/openai/..."
RECOURCE_ENDPOINT="https://....services.ai.azure.com"
FOUNDRY_ENDPOINT="https://....services.ai.azure.com"
API_KEY="..."
PATH_BROCHURES=".../brochures"
MODEL_DEPLOYMENT="modele name + version"
MODEL_DEPLOYMENT_NAME="modele name + version"
SERVER_URL="..."
ROUTING_AGENT_PORT="..."
OUTLINE_AGENT_PORT="..."
TITLE_AGENT_PORT="..."
AGENT_NAME="..."
MODEL_ENDPOINT_TTS_Target_URI="https://....cognitiveservices.azure.com"
MODEL_NAME_TTS="gpt-4o-mini-tts"
MODEL_NAME_TR="gpt-4o-mini-transcribe"
AZURE_VOICELIVE_ENDPOINT="https://your_foundry_resource.services.ai.azure.com/"
AZURE_VOICELIVE_PROJECT_NAME="your_project_name"
AZURE_VOICELIVE_AGENT_ID="chat-agent"
ANALYZER=your_analyzer_id
# RECOURCE_ENDPOINT==FOUNDRY_ENDPOINT  MODEL_DEPLOYMENT==MODEL_DEPLOYMENT_NAME